@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #25274d;
	--dark-color-b: #464866;
	--light-color: #d1d7e0;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
    background-image: linear-gradient(to right, #1c00f2, #453f96);
	margin: 20px;
	align-items: center;
	justify-content: center;
}



.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}







/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
	
}

.join-header {
	text-align: center;
	padding: 20px;
	background:  #1d61c2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background:  #1d61c2;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}



.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.btn{
    width: 100px;
    font-size: 25px;
    border: #3874c9;
    background-color: #2e2be2;
    color: white;
}

